.game-list {
    max-height: 400px;
    overflow: auto;
}

.cover-image {
    width: 120px;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media screen and (max-width: 600px) {
    .game-list {
        max-height: 200px;
    }
}