header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header .title {
    display: flex;
    align-items: center;
}

header .title img {
    width: 40px;
    margin-bottom: 0;
    margin-right: 5px;
}

header .title h1 {
    padding-top: 0;
    font-size: 1rem;
    margin: 0;
}

header nav {
    display: flex;
    gap: 5px;
    align-items: center;
}

header nav button {
    height: 30px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    header {
        position: fixed;
        width: calc(100% - 2rem);
        top: 0;
        left: 0;
        margin: 0;
        padding: 0.5rem 1rem;
    }

    header .title h1 {
        display: none;
    }

    header nav button span {
        display: none;
    }
}