.game-container {
    padding: 1.5rem;
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3);
}
.game-thumb {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.description {
    max-height: 200px;
    overflow: hidden;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.action-buttons button {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .description {
        display: none;
    }
}