<h2>Jogando atualmente</h2>

<div class="game-container">
  <ng-container *ngIf="currentGame; else elseTemplate">
    <img class="game-thumb" [src]="currentGame.horizontalHeaderImage" [alt]="currentGame.title">
    <h3>
      {{ currentGame.title }}
    </h3>
    <p class="description">
      {{ currentGame.description }}
    </p>
    <div class="action-buttons">
      <button (click)="pause()" *ngIf="state === 'playing'">Pausar</button>
      <button (click)="play()" *ngIf="state === 'paused'">Continuar</button>
      <button (click)="stop()">Parar</button>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <p>Nenhum jogo selecionado, busque e selecione um jogo ao lado</p>
  </ng-template>
</div>