header {
    display: flex;
    align-items: center;
}

header img {
    width: 60px;
    margin-bottom: 0;
    margin-right: 1rem;
}

header h1 {
    padding-top: 0;
}

.main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.main .section {
    width: 50%;
    margin: 0 10px;
}