header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header .title {
    display: flex;
    align-items: center;
}

header .title img {
    width: 25px;
    margin-bottom: 0;
    margin-right: 5px;
}

header .title h1 {
    padding-top: 0;
    font-size: 1rem;
    margin: 0;
}

.main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.main .section {
    width: 100%;
}

@media screen and (max-width: 600px) {
    header {
        position: fixed;
        width: calc(100% - 2rem);
        top: 0;
        left: 0;
        margin: 0;
    }

    .main {
        flex-direction: column;
        margin-top: 2.5rem;
    }
}